[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
discord = "*"
requests = "*"
beautifulsoup4 = "*"
duckduckgo-search = "*"
pytest-asyncio = "*"
coverage = "*"
anthropic = "*"
pydantic-settings = "*"
loguru = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.11"

[scripts]
format = "isort --profile black . && black ."
lint = "flake8"
main = "python main.py"
test = "pytest tests/ --cov=. --cov-report=xml"
