[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
discord = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.11"

[scripts]
format = "isort --profile black . && black ."
lint = "flake8"
run = "python main.py"
test = "coverage -m pytest --cov=./ --cov-report=xml"
