[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
discord = "*"
requests = "*"
beautifulsoup4 = "*"
duckduckgo-search = "*"
pytest-asyncio = "*"
coverage = "*"
pydantic-settings = "*"
loguru = "*"
pytest-mock = "*"
google-generativeai = "*"
langchain-google-genai = "*"
langchain = "*"
langchain-community = ">=0.0.36"
langchain-anthropic = ">=0.1.7"
anthropic = ">=0.3.0"
langchain-openai = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"
anthropic = "*"

[requires]
python_version = "3.11"

[scripts]
format = "isort --profile black . && black ."
lint = "flake8"
main = "python main.py"
test = "pytest tests/ --cov=. --cov-report=xml"
